#map{
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #01553f;
}

body {
     font-size: 100%;
     font-family: 'Tahoma', sans-serif;
     color: #01553f;
     background-color: #d8c188;
  }

/*links*/
a {
  color:#85F8FF;
}


h1 {
     font-size: 4em; /*36px*/
     font-family: 'georgia', serif;
     color: #01553f;
     background-color:  #00bd94;
     overflow: hidden;
     text-align: center;
}


h2 {
     font-size: 1.75em;
     font-family: 'georgia', serif;
     color: #03ddae;
}

h4 {
  font-size: .75em;
  color: #03ddae;
}

p {
     font-size: 1em;
     font-family: 'Tahoma';
     line-height: 140%;
}


body {
  font-family: "Tahoma", sans-serif;
}

#led {
  width: 7em;
  height: 3.5em;
  margin-top: 1px;
  border: 2px solid #01553f;
}

img {
  width: 7em;
  height: 3.5em;}
